.services-section{
    display: grid;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.services-text{
    margin: 30px;
    padding: 5px;
    justify-content: center;
}
.services-text h1{
    text-align: center;
    color: #b14038;
    font-weight: bold;
    margin-bottom: 20px;
}
.services-text p{
    color: #fff;
    text-align: center;
}
.services-columns-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.service-columns{
    padding: 15px;
    text-align: center;
    width: 400px;
    height: 300px;
    color: #d3d2d4;
    border-radius: 1cm;
    margin-bottom: 30px;
    background-color: #721d1d;
}
.service-columns i{
    font-size: 43px;
    text-align: center;
}
.service-columns h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.service-columns hr{
    width: 90%;
    height: 2px;
    border: none;
    margin: 0 auto;
    align-items: center;
    background-color: #000;
}
.service-columns p{
    width: 70%;
    margin: 30px;
    text-align: center;
}
.service-columns:hover{
    background-color: #721d1d;
}
.service-columns:hover i,
.service-columns:hover h3,
.service-columns:hover p{
    color: #fff;
}
.service-columns:hover hr{
    background-color: #000;
}
.service-columns:hover i{
    transform: translateY(-20px);
}
.service-columns:hover i,
.service-columns:hover h3,
.service-columns:hover hr{
    transition: all 400ms ease-in-out;
}
.btn-support{
    padding: 15px;
    font-weight: 600;
    width: 255px;
    color: #000;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    background-size: 550px;
    border: 3px solid aqua;
    transition: 300ms ease-in-out;
    background-image: linear-gradient(30deg, aqua 50%, black 50%);
}
.btn-support:hover{
    color: aqua;
    background-position: 100%;
}